<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-brand">
                <a href="{% url 'djs_guide:index' %}" class="footer-logo">
                    <i class="fa-brands fa-python"></i>
                    <span>DjangoStarter</span>
                </a>
                <p class="footer-description">
                    DjangoStarter v3 是下一代 Django 项目快速开发模板，专为提升开发效率和性能而设计。
                </p>
            </div>
            <div class="footer-links">
                <div class="footer-section">
                    <h2>相关资源</h2>
                    <ul>
                        <li>
                            <a href="https://deali.cn/" target="_blank">
                                <i class="fa-solid fa-link"></i>CodeLab
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.deali.cn/" target="_blank">
                                <i class="fa-solid fa-blog"></i>StarBlog
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h2>关注我们</h2>
                    <ul>
                        <li>
                            <a href="https://github.com/deali-Axy/" target="_blank">
                                <i class="fa-brands fa-github"></i>Github
                            </a>
                        </li>
                        <li>
                            <a href="https://discord.gg/4eeurUVvTy" target="_blank">
                                <i class="fa-brands fa-discord"></i>Discord
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h2>法律信息</h2>
                    <ul>
                        <li>
                            <a href="{% url 'djs_about:privacy_policy' %}">
                                <i class="fa-solid fa-shield-alt"></i>隐私政策
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'djs_about:terms_of_service' %}">
                                <i class="fa-solid fa-file-contract"></i>服务条款
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="footer-divider"/>
        <div class="footer-bottom">
          <span class="footer-copyright">
              © 2025 <a href="https://deali.cn/">CodeLab™</a>. 保留所有权利
          </span>
            <div class="footer-social">
                <a href="#" class="social-link">
                    <i class="fa-brands fa-facebook-f"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="#" class="social-link">
                    <i class="fa-brands fa-discord"></i>
                    <span class="sr-only">Discord</span>
                </a>
                <a href="#" class="social-link">
                    <i class="fa-brands fa-twitter"></i>
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="#" class="social-link">
                    <i class="fa-brands fa-github"></i>
                    <span class="sr-only">GitHub</span>
                </a>
            </div>
        </div>
        <div class="footer-credit">
            由 <a href="https://github.com/Deali-Axy" target="_blank">DealiAxy</a> 开发
        </div>
    </div>
</footer>
